footer {
    background: linear-gradient(45deg, #0A64A3, #71DDEF, #0A64A3, #71DDEF);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 10s ease-in-out infinite;
    -moz-animation: AnimationName 10s ease-in-out infinite;
    animation: AnimationName 10s ease-in-out infinite;
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;

        p {
            width: 100%;
            max-width: 100%;
            text-align: center;
            color: #fff;
        }
    }
}

// Footer - Background animation
@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}