footer {
    background: linear-gradient(45deg, #0A64A3, #71DDEF, #0A64A3, #71DDEF);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 10s ease-in-out infinite;
    -moz-animation: AnimationName 10s ease-in-out infinite;
    animation: AnimationName 10s ease-in-out infinite;
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2rem;
        padding-bottom: 5rem;

        .msg {
            display: flex;
            align-items: center;

            p {
                width: 100%;
                max-width: 666px;
                margin-left: 20px;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                color: #fff;
                opacity: .8;
                text-align: left;
            }
        }

        p {
            width: auto;
            font-size: 14px;
            text-align: center;
            color: #fff;
        }
    }

    @media (max-width: 768.1px) {
        .container {
            height: initial;
            flex-direction: column;

            .msg {
                flex-direction: column;

                .icon {
                    margin-bottom: 5px;
                }
    
                p {
                    text-align: center;
                    margin-left: 0;
                    margin-bottom: 30px;
                }
            }
        }
    }

    @media (max-width: 500.1px) {
        .container {
            .msg {
                p {
                    font-size: 16px;
                }
            }
        }
    }
}