header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2023;
    padding-top: 29px;
    transition: all 0.3s ease;

    &:before {
        content: "";
        width: 1340.8px;
        height: 312px;
        background: url(../img/header-before.svg) no-repeat;
        position: absolute;
        top: 0;
        left: 22%;
        pointer-events: none;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    &.fixed-menu {
        background-color: #071126;
        padding-bottom: 29px;
        transition: all 0.3s ease;
        overflow: hidden;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // height: 90px;

        img {
            width: 100%;
            max-width: 150px;
        }

        nav {
            width: 100%;
            max-width: 10rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                color: #BAD2EF;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                transition: color .3s ease;
                &:hover {
                    color: #fff;
                }
            }
        }
    }

    @media (max-width: 500.1px) {
        &:before {
            left: -50%;
        }
    }
}