header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2023;
    padding-top: 29px;
    transition: all 0.3s ease;

    &:before {
        content: "";
        width: 1340.8px;
        height: 312px;
        background: url(../img/header-before.svg) no-repeat;
        position: absolute;
        top: 0;
        left: 22%;
        pointer-events: none;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    &.fixed-menu {
        background-color: #071126;
        padding-bottom: 29px;
        transition: all 0.3s ease;
        overflow: hidden;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // height: 90px;

        img {
            width: 100%;
            max-width: 150px;
        }

        nav {
            width: 100%;
            max-width: 10rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                color: #BAD2EF;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                transition: color .3s ease;
                &:hover {
                    color: #fff;
                }
            }
        }
    }

    @media (min-width: 768.1px) {
        .container {
            .btn-cash,
            #btn-mobile {
                display: none;
            }
        }
    }

    @media (max-width: 768px) {
        .container {
            nav {
                display: none;
            }

            a {
                margin: 0 auto;
            }

            .btn-cash {
                svg {
                    width: 25px;
                    height: 25px;
                }
            }
    
            #menu {
                display: block;
                position: absolute;
                width: 100%;
                top: 70px;
                right: 0px;
                background: #e7e7e7;
                transition: 0.6s;
                z-index: 1000;
                height: 0px;
                visibility: hidden;
                overflow-y: hidden;
            }
    
            #nav.active #menu {
                height: calc(100vh - 70px);
                visibility: visible;
                overflow-y: auto;
            }
    
            #menu a {
                padding: 1rem 0;
                margin: 0 1rem;
                border-bottom: 2px solid rgba(0, 0, 0, 0.05);
            }
    
            #btn-mobile {
                display: flex;
                padding: 0.5rem 1rem;
                font-size: 1rem;
                border: none;
                background: none;
                cursor: pointer;
                gap: 0.5rem;
                z-index: 1;
            }
    
            #hamburger {
                border-top: 2px solid;
                width: 25px;
                border-color: #fff;
            }
    
            #hamburger::after,
            #hamburger::before {
                content: '';
                display: block;
                width: 25px;
                height: 2px;
                background: currentColor;
                margin-top: 5px;
                transition: 0.3s;
                position: relative;
                background-color: #fff;
            }
    
            #nav.active #hamburger {
                border-top-color: transparent;
            }
    
            #nav.active #hamburger::before {
                transform: rotate(135deg);
            }
    
            #nav.active #hamburger::after {
                transform: rotate(-135deg);
                top: -7px;
            }
        }
    }

    @media (max-width: 500.1px) {
        &:before {
            left: -50%;
        }
    }
}