header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2022;
    padding-top: 25px;
    transition: all 0.3s ease;
    &.fixed-menu {
        background-color: #071126;
        padding-bottom: 29px;
        transition: all 0.3s ease;
        overflow: hidden;
    }

    &:before {
        content: "";
        width: 1340.8px;
        height: 312px;
        background: url(../img/header-before.svg) no-repeat;
        position: absolute;
        top: 0;
        left: 22%;
        pointer-events: none;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        z-index: 35;
        img {
            width: 100%;
            max-width: 150px;
            min-width: 150px;
        }
    }

    nav {
        width: 100%;
        max-width: 650px;
        margin-left: 80px;

        ul {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        a {
            color: #BAD2EF;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            transition: color .3s ease;
        }
    }

    .menu-mobile {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(19,18,25,.99);
        transform: translateY(100%);
        transition: all .3s ease;
        padding: 7rem 15px;
        
        ul {
            display: block;
            li {
                max-width: max-content;
                &:not(:last-child) {
                    margin-bottom: 1.75rem;
                }
                a {
                    color: #BAD2EF;
                    font-size: 24px;
                    font-weight: 700;
                    text-transform: uppercase;
                    transition: color .3s ease;
                }
            }
        }
    }

    .hamburger {
        padding: 0;
        display: none;
        z-index: 35;
        -webkit-tap-highlight-color: transparent;
        &:hover {
            opacity: unset;
        }
        &.is-active {
            &:hover {
                opacity: unset;
            }
            .hamburger-inner,
            .hamburger-inner:before,
            .hamburger-inner:after {
                background-image: linear-gradient(45deg, #088BDD, #71DDEF)
            }
        }
        .hamburger-inner,
        .hamburger-inner:before,
        .hamburger-inner:after {
            background-image: linear-gradient(45deg, #088BDD, #71DDEF);
        }
    }

    @media (max-width: 768px) {
        nav {
            max-width: 100%;
            margin-left: 0;
            display: flex;
            justify-content: flex-end;
            ul {
                display: none;
            }
        }

        .hamburger {
            display: block
        }
    }

    @media (max-width: 500.1px) {
        &:before {
            left: -50%;
        }
    }
}

.menu-opened {
    overflow: hidden;

    header {
        .menu-mobile {
            transform: translateY(0);
        }
    }
}