.s-hero {
    height: 55rem;
    padding-top: 10rem;
    background-image: url(../img/section01-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-area {
            width: 100%;
            max-width: 30.125rem;
            margin-right: 1.875rem;
    
            &-title-top-wrapper {
                display: flex;
                align-items: flex-start;
                margin-bottom: 1.25rem;
    
                span {
                    margin-right: .3125rem;
                }
    
                p {
                    font-weight: 500;
                    font-size: 1.125rem;
                    text-transform: uppercase;
                    display: block;
                    background: linear-gradient(2deg, #D8E4EC 20.9%, #41E8DF 78.55%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }
            
            h1 {
                font-weight: 900;
                font-size: 3.125rem;
                line-height: 120%;
                letter-spacing: 0.02em;
                color: #fff;
                margin-bottom: 1.25rem;
                background: linear-gradient(91.34deg,#F3FFFF 4.63%,#9AD0F4 62.78%,#9DE5F8 97.64%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
    
            > p {
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 150%;
                color: #bad2ef;
                margin-bottom: 2.1875rem;
                background-clip: text;
                text-fill-color: transparent;
            }
        }

        .right-area {
            position: relative;

            .circle-wrapper {
                position: absolute;
                width: 12.125rem;
                height: 12.0625rem;
                top: 73%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    display: none;
                }
            }

            .circle-icon-text {
                position: absolute;
                width: auto;
                height: auto;
                animation: rotation 13s infinite linear
            }

            .circle-icon-mid {
                position: absolute;
                width: auto;
                height: auto;
                top: 10%;
            }
        }
    }

    @media (max-width: 1025px) {
        padding-top: 5rem;
        background-position: top center;

        .container {
            flex-direction: column;
            
            .left-area {
                max-width: 100%;
                text-align: center;

                h1 {
                    font-size: 2.5rem;
                    max-width: 41.25rem;
                    margin: 0 auto 1.25rem;
                }

                > p {
                    font-size: 1.125rem;
                    max-width: 36.25rem;
                    margin: 0 auto 1.25rem;
                }

                &-title-top-wrapper {
                    justify-content: center;
                }
            }

            .right-area {
                order: -1;
                max-width: 31.25rem;
            }
        }
    }

    @media (max-width: 500.1px) {
        padding-top: 7rem;

        .container {
            .left-area {
                margin-right: 0;

                &-title-top-wrapper {
                    span {
                        display: none;
                    }

                    p {
                        font-size: 15px;
                    }
                }

                h1 {
                    font-size: 36px;
                }

                > p {
                    font-size: 15px;
                    max-width: 22.25rem;
                }
            }

            .right-area {
                .circle-wrapper {
                    span {
                        font-size: 30px;
                        display: block;
                    }

                    .circle-icon-text {
                        max-width: 150px;
                    }

                    .circle-icon-mid {
                        top: 19%;
                        max-width: 120px;
                    }
                }
            }
        }
    }

    @media (max-width: 375.1px) {
        .container {
            .left-area {
                &-title-top-wrapper {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg)
    }
}