.s-hero {
    height: 61rem;
    padding-top: 10rem;
    background-image: url(../img/section01-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-area {
            width: 100%;
            max-width: 30.125rem;
    
            &-title-top-wrapper {
                display: flex;
                align-items: flex-start;
                margin-bottom: 1.25rem;
    
                span {
                    margin-right: 5px;
                }
    
                p {
                    font-weight: 500;
                    font-size: 1.125rem;
                    text-transform: uppercase;
                    display: block;
                    background: linear-gradient(2deg, #D8E4EC 20.9%, #41E8DF 78.55%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }
            
            h1 {
                font-weight: 900;
                font-size: 50px;
                line-height: 120%;
                letter-spacing: 0.02em;
                color: #fff;
                margin-bottom: 1.25rem;
                background: linear-gradient(91.34deg,#F3FFFF 4.63%,#9AD0F4 62.78%,#9DE5F8 97.64%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
    
            > p {
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 150%;
                color: #bad2ef;
                margin-bottom: 2.1875rem;
                background-clip: text;
                text-fill-color: transparent;
            }
        }

        .right-area {
            position: relative;

            .ra-illustration {
                min-width: 583px;
            }

            .circle-icon-text {
                position: absolute;
                top: 302px;
                right: 190px;
                animation: rotation 13s infinite linear
            }

            .circle-icon-mid {
                position: absolute;
                top: 321px;
                right: 211px;
            }
        }
    }

    @include responsive(1125px) {
        padding-top: 5rem;

        .container {
            flex-direction: column;

            .left-area {
                max-width: 100%;
                text-align: center;

                &-title-top-wrapper {
                    justify-content: center;
                }
            }

            .right-area {
                order: -1;
                
                .ra-illustration {
                    max-width: 483px;
                }
            }
        }
    }

    @include responsive(500.1px) {
        .container {
            .left-area {
                h1 {
                    font-size: 2.25rem;
                }
            }
        }
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg)
    }
}