* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

a {
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
}

body {
    background-color: #071126;
}

button {
    background-color: transparent;
    cursor: pointer;
}