/* ==================================================
*  #Aqui vão todas as variáveis que serão utilizadas.
*  ================================================== */

// Cases marquee config
$size: clamp(10rem, 1rem + 40vmin, 30rem);
$gap: calc($size / 14);
$duration: 60s;
$scroll-start: 0;
$scroll-end: calc(-100% - $gap);